.navbar ul.nav.pull-right {
  margin-right: 42px;
}

.page-header {
  margin-top: 0;
}

.sidebar .widget {
  border: 1px solid #e9eaea;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.sidebar .widget h3 {
  line-height: 125%;
  border-bottom: solid 1px #22998b;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

.sidebar .widget > div {
  padding: 0 10px 10px 10px;
}

.sidebar .widget p {
  font-size: 12px;
  line-height: 16px;
}

.sidebar .od-languages {
  text-align: center;
}

.notice {
  text-align: center;
  background-color: lightyellow;
}

/** Front page **/

.frontpage .main p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
