<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-language-links">
      <p>
      The Open Definition in Your Language
        <ul>
        {% include translations.html %}
        </ul>
      </p>
    </div>

    <hr>

    <div class="footer-primary-links">
      <a class="footer-logo" href="https://okfn.org/">
        <img src="https://a.okfn.org/img/oki/landscape-white-234x61.png">
      </a>
      <p>
        Open Definition is a project of <a href="https://okfn.org">Open Knowledge Foundation</a>
        &ndash;
        <a href="{{site.github.repository_url}}">Source Code</a>
      </p>
      <p>
        <a href="https://opendefinition.org/ossd/" title="Open Online Software Service">
          <img src="/assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" />
        </a>
        <a href="https://opendefinition.org/" title="Open Content">
          <img src="/assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" alt="" />
        </a>
        &ndash;
        <a href="https://creativecommons.org/licenses/by/4.0/">
          Content licensed under a CC Attribution 4.0 International License
        </a>
      </p>
    </div>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
        <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
        <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
        <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
      </ul>

      <ul class="footer-social">
        <li>
          <a href="https://twitter.com/okfn">
            <img src="{{ '/assets.okfn.org/images/social/x-logo.png'|url }}" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/openknowledgefdn">
            <img src="{{ '/assets.okfn.org/images/social/youtube-logo-circle.png'|url }}" alt="YouTube">
          </a>
        </li>
        <li>
          <a href="https://fosstodon.org/@okfn">
            <img src="{{ '/assets.okfn.org/images/social/mastodon-logo.png'|url }}" alt="Mastodon">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/open-knowledge-foundation/">
            <img src="{{ '/assets.okfn.org/images/social/linkedin-logo.png'|url }}" alt="Linkedin">
          </a>
        </li>
        <li>
          <a href="https://github.com/okfn">
            <img src="{{ '/assets.okfn.org/images/social/github-logo.png'|url }}" alt="GitHub">
          </a>
        </li>
        <li>
          <a href="https://okfn.org/newsletter">
            <img src="{{ '/assets.okfn.org/images/social/newsletter.png'|url }}" alt="Newsletter">
          </a>
        </li>

      </ul>

    </div>

    <hr>
    <p>The Open Knowledge Foundation is a not-for-profit organisation. It is incorporated in England & Wales as a company limited by guarantee, with company number 05133759. VAT Registration № GB 984404989. Registered office address: Open Knowledge Foundation, 86-90 Paul Street, London, EC2A 4NE, United Kingdom.</p>
  </div>
</footer>
