<li><a href="/od/2.1/ar/">العربية</a></li>
<li><a href="/od/1.1/be/">Беларуская</a></li>
<li><a href="/od/2.1/bs/">Bosanski</a></li>
<li><a href="/od/1.1/bg/">Български</a></li>
<li><a href="/od/1.1/ca/">Català</a></li>
<li><a href="/od/2.0/cz/">Czech</a></li>
<li><a href="/od/1.1/da/">Dansk</a></li>
<li><a href="/od/2.1/de/">Deutsch</a></li>
<li><a href="/od/2.1/et/">Eesti</a></li>
<li><a href="/od/1.0/el/">Ελληνικά</a></li>
<li><a href="/od/{{site.od_current_version}}/en/">English</a></li>
<li><a href="/od/2.1/es/">Español</a></li>
<li><a href="/od/1.0/eu">Euskara</a></li>
<li><a href="/od/1.1/fi/">Suomi</a></li>
<li><a href="/od/1.1/fr/">Français</a></li>
<li><a href="/od/2.1/gl/">Galego</a></li>
<li><a href="/od/1.1/he/">עברית</a></li>
<li><a href="/od/2.0/hi">हिन्दी</a></li>
<li><a href="/od/1.1/hr/">Croatian</a></li>
<li><a href="/od/1.1/hu/">Magyar</a></li>
<li><a href="/od/1.1/id/">Bahasa Indonesia</a></li>
<li><a href="/od/1.0/is/">Íslenska</a></li>
<li><a href="/od/2.0/it/">Italiano</a></li>
<li><a href="/od/2.1/ja/">日本語</a></li>
<li><a href="/od/1.1/kn/">ಕನ್ನಡ</a></li>
<li><a href="/od/2.1/ko/">한국어</a></li>
<li><a href="/od/1.1/mk/">македонски јазик</a></li>
<li><a href="/od/2.1/ne/">नेपाली</a></li>
<li><a href="/od/1.1/no/">Norsk (bokmål)</a></li>
<li><a href="/od/2.0/pl/">Polszczyzna</a></li>
<li><a href="/od/2.1/pt-br/">Português Brasileiro </a></li>
<li><a href="/od/1.1/pt/">Português</a></li>
<li><a href="/od/1.1/ru/">Русский</a></li>
<li><a href="/od/1.1/sq/">Shqip</a></li>
<li><a href="/od/2.1/sr/">Српски</a></li>
<li><a href="/od/1.1/sv/">Svenska</a></li>
<li><a href="/od/1.1/te/">తెలుగు</a></li>
<li><a href="/od/1.1/tr/">Türkçe</a></li>
<li><a href="/od/2.0/ua/">Українська</a></li>
<li><a href="/od/2.1/zh/">简体中文</a></li>
<li><a href="/od/2.1/zh-tw/">繁體中文</a></li>
