.license-list {
  margin-top: 1rem;
  clear: both;
}

.license .icons .open-icon {
  padding-right: 3px;
}

.license {
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  border:1px solid #e3e3e3;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
