@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
