// Colours
$okf-blue: 00D1FF;
$action-colour: $okf-blue;
$dark-grey: #2D2D2D;
$light-grey: lighten( $dark-grey, 78% );

// Typography
$main-font: Lato;
$heading-font: $main-font;

// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
