<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {{page.title}} - {{site.title}} - Defining Open in Open Data, Open Content and Open Knowledge
  </title>
  <meta name="author" content="Open Knowledge Open Definition Group" />
  <meta name="description" content="{{page.title}} - {{site.title}} - Defining Open in Open Data, Open Content and Open Knowledge" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- okf ribbon -->
  <link rel="stylesheet" href="https://a.okfn.org/html/oki/panel/assets/css/frontend.css"/>

  <link href="https://fonts.cdnfonts.com/css/hk-groteks" rel="stylesheet">
  <link rel="stylesheet" href="/assets.okfn.org/mmenu-js/mmenu.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed/index.xml" />
  <script defer data-domain="{{ site.host }}" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <!-- OKF Panel -->
  <div id="ok-panel" class="closed">
    <div class="container">
      <iframe src="https://a.okfn.org/html/oki/panel/panel.html" scrolling="no"></iframe>
    </div>
  </div>
  <div id="ok-panel-wrapper">
    <a class="white ok-ribbon" href="https://okfn.org/">
      <img src="https://a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge">
    </a>
  </div>
  <!-- End OKF Panel -->

  <div id="page">
    <a class="contents-toggle" href="#contents">
      <span><span>Contents</span></span>
    </a>

    <div class="intro" id="top">
      <div class="container">
        <a href="/" class="logo">{% include okfn-white.svg %}</a>
        <h1>
          <a href="/">
            {% include open-definition-landscape-white.svg %}
          </a>
        </h1>
        <span class="description">Defining Open in Open Data, Open Content and Open Knowledge</span>
      </div>
    </div>

    <section>
      <div class="container">
        {{content}}
      </div>
    </section>

    {% include footer.html %}

  </div>

  {% include menu.html %}
  <script src="https://a.okfn.org/html/oki/panel/assets/js/frontend.js" type="text/javascript"></script>

</body>
</html>
